<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <a href="/orders">
        <div class="card text-white bg-primary mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Order</h5>
            <p class="card-text">Create catering order</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/order_details">
        <div class="card text-white bg-success mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Order details</h5>
            <p class="card-text">Check details of order</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/customers">
        <div class="card text-white bg-danger mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <p class="card-text">Your customers</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="/menus">
        <div class="card text-white bg-success mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <p class="card-text">See your menu available</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/categories">
        <div class="card text-white bg-info mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Category</h5>
            <p class="card-text">The category of menu</p>
          </div>
        </div>
      </a>
    </div>
   <div class="col-sm-4">
      <a href="/menu_categories">
        <div class="card text-white bg-secondary mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Menu Category</h5>
            <p class="card-text">Categories your menu</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-4">
      <a href="/admins">
        <div class="card text-white bg-dark mb-5" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">Website administrator</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>