 <div class="container">
  <form class="m-5" action="/login" method="POST">
    <div class="mb-3">
      <label for="exampleInputUsername1" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="exampleInputUsername1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>